@config "../../tailwind.config.mts";

@tailwind components;
@tailwind utilities;

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 8s linear forwards;
}
