@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes grow {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes grow {
  from {
    -ms-transform: scale(0);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-o-keyframes grow {
  from {
    -o-transform: scale(0);
  }
  to {
    -o-transform: scale(1);
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.triangle {
  width: 0px;
  height: 0px;
  float: right;
  animation: grow 1.5s forwards;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
}

.triangle.TR {
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent rgba(250, 250, 250, 0.8) transparent transparent;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 50px 0;
  -ms-transform-origin: 50px 0;
  -webkit-transform-origin: 50px 0;
  transform-origin: 50px 0;
}

.triangle.BR {
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent rgba(244, 244, 245, 0.7) transparent;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 50px 50px;
  -ms-transform-origin: 50px 50px;
  -webkit-transform-origin: 50px 50px;
  transform-origin: 50px 50px;
}

.triangle.BL {
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: transparent transparent transparent rgba(228, 228, 231, 0.7);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 0 50px;
  -ms-transform-origin: 0 50px;
  -webkit-transform-origin: 0 50px;
  transform-origin: 0 50px;
}
