@config "../../tailwind.config.cjs";

@tailwind components;
@tailwind utilities;

/* Triangles */

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes grow {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes grow {
  from {
    -ms-transform: scale(0);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-o-keyframes grow {
  from {
    -o-transform: scale(0);
  }
  to {
    -o-transform: scale(1);
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.triangle {
  width: 0px;
  height: 0px;
  float: right;
  animation: grow 1.5s forwards;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
}

.triangle.TR {
  border-style: solid;
  border-width: 0 80px 80px 0;
  border-color: transparent rgba(24, 24, 27, 0.8) transparent transparent;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 40px 0;
  -ms-transform-origin: 40px 0;
  -webkit-transform-origin: 40px 0;
  transform-origin: 40px 0;
}

.triangle.BR {
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-color: transparent transparent rgba(24, 24, 27, 0.7) transparent;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 40px 40px;
  -ms-transform-origin: 40px 40px;
  -webkit-transform-origin: 40px 40px;
  transform-origin: 40px 40px;
}

.triangle.BL {
  border-style: solid;
  border-width: 80px 0 0 80px;
  border-color: transparent transparent transparent rgba(24, 24, 27, 0.7);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transform-origin: 0 40px;
  -ms-transform-origin: 0 40px;
  -webkit-transform-origin: 0 40px;
  transform-origin: 0 40px;
}